sudo: required
language: generic
services:
  - docker

before_install:
  - docker build -t shmbrg/docker-react -f Dockerfile.dev .

script:
  - docker run -e CI=true shmbrg/docker-react npm run test

deploy:
  provider: elasticbeanstalk
  region: "us-east-1"
  app: "docker"
  env: "Docker-env"
  bucket_name: "elasticbeanstalk-us-east-1-565273500973"
  bucket_path: "docker"
  on:
    branch: main
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key: 
    secure: "$AWS_SECRET_KEY"
    
